@import url('https://fonts.googleapis.com/css2?family=Exo&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');


* {
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin: 0;
  padding: 0;
} 
.bg-black-color {
  background-color: black !important;
}

.bg-gray-color {
  background-color: rgb(38, 39, 39);
}

.bg-blue-color {
  background-color: rgb(1, 21, 27);
}

.white-color {
  color: white;
}
.gray-color {
  color: lightgray;
}

.orange-color {
  color: #e74c3c;
}

.btn-custom-color {
  color: #e74c3c;
  border: 1px solid #e74c3c;
}

.btn-center {
  margin: 0 auto;
}

.btn-custom-color:hover {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;

}
.navbar {
  box-shadow: 0 5px 15px rgb(37, 38, 39) !important;
}


.navbar li a, .spliter {
  color: lightgray;
}

.navbar-toggler {
  color: lightgray !important;
}

/* heading */
.item-heading {
  text-align: center;
  padding: 30px;
  margin-top: 10px;
}


/* navbar */
.navbar {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}



.navbar .navbar-brand a{
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.navbar li a {
  font-size: 1.1rem;
  position: relative;
}

.navbar li a:hover  {
  color: #e74c3c !important;
  transition: 0.3s ease !important;
}

.active {
  color: #e74c3c !important;

}
/* home section */
/* .home {
  height: 90vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: 1.5rem;
} */

.home h1 {
  font-weight: 600;
}

.home h3 {
  font-weight: 400;
}

.home h6 {
  font-weight: 100;
}


/* products */
.product-box {
  text-align: center;
  height: 100%;
  border-radius: 20px;
  background-color:black;
  padding-bottom: 1.5rem;
  transition: 0.4s;
  border: 1px solid #181818;
}

.product-box a {
  text-decoration: none;
}

.product-box:hover {
  box-shadow: 0 5px 15px rgb(136, 130, 130) !important;
  cursor: pointer;
  transform: scale(1.0002);
}

.product-inner-box img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  width: 100% ;
  object-fit:cover;

}

.product-img {
  overflow: hidden;
}

.product-img-slider {
  display: flex;
  transition: transform 0.00001s ;
}

.product-img:hover .product-img-slider {
  transform: translate(-100%);
}

.product-name h3 {
  padding-top: 10px;
  color: lightgray;
  font-size: 16px;
  font-weight: 400;
  background-color:black;
}

.product-info, .product-price  {
  background-color: black;
}

.product-price {
  color: #e74c3c;
}


/* browse section */
.category-list {
  list-style-type: none;
}

.side-area {
  padding-bottom: 20px;
}

.side-area:last-child {
  margin-bottom: 0px;
}

.product-side .side-content {
  border-bottom: 1px solid white;
}

.product-side .side-content:last-child {
  border-bottom: 0px;
}

.product-side .list {
  border-top: 1px solid white;
  padding-top: 25px;
  margin-top: 25px;
}

.product-side .list:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: 0px solid transparent;
}
.product-side .list li {
  margin-bottom: 18px;
  transition: 0.5s;
  list-style-type: none;
}

.product-side .list li a {
  font-size: 14px;
  font-weight: normal;
  color: #606060;
  position: relative;
  text-decoration: none;
}

.side-shadow {
  box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.2);
}

.side-title h3 {
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  background: #444546;
  padding: 10px 15px 10px 30px;
  text-transform: uppercase;
}

.product-top .product-sec h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.product-cate img {
  width: 100%;
}


/* new item */
.form-content {
  margin: 0 auto;
  padding: 28px;
  height:fit-content;
}

.form-content btn {
  background-color: #e74c3c !important;
}

#browse {
  height: fit-content;
}


/* login */
.card-body {
  text-align: center;
}

.svg-icon {
  text-align: center;
}


/* pagination */
#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #e74c3c;
  padding: 6px 15px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}


/* detail */
#pro-detail {
  display: flex;
}
#pro-detail .single-pro-image {
  width: 25%;
  margin-right: 50px;
}

#pro-detail .single-pro-details {
  width: 60%;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
flex-basis: 49%;
cursor: pointer;
}

#pro-detail .single-pro-details h2 {
  font-size: 26px;
}

#pro-detail .single-pro-details span {
  line-height: 25px;
  font-weight: 200;
}

/* newsletter */
#newsletter {
  align-items: center;
  background-image: url('image/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 600;
}

#newsletter p {
  font-size: 14px;
  font-weight:500;
}

#newsletter input::placeholder{
  color: darkgray !important;
}

.category input::placeholder{
  color: darkgray !important;
}

.light-orange {
  color: orange;
}


/* cus-login-form */
.cus-login-form {
  height: 70vh;
}

.cus-login-form input {
  width: 40%;
  border-radius: 8px;
  padding: 5px;
}

.cus-login-form  label {
  color: gainsboro;
}


/* new-conv-form */
.new-conv-form {
  height: 70vh;
}

.new-conv-form label {
  color: gainsboro;
}
/* new-item-form */
.new-item-form label {
  color: gainsboro;
}


/* footer */
footer a {
  text-decoration: none; 
}

footer {
  background-color: #c22918;
}

footer li i, p, hr {
  color: black;
}

  /* contact seller */
  .contact-seller {
    height: 90vh;
  }
  .contact-seller a {
    text-decoration: none;
  }

  .contact-seller img {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .dark-gray {
    color: gray;
  }
  
  .f-small {
    font-size: .8rem;
  }

  .conversation-form textarea{
    background-color: rgb(1, 21, 27);
    border: none;
  }

  .conversation-form label{
    padding:1rem 0;
    color: gray;
  }

  .conversation .msg {
    border-radius: 10px;
  }

  .conversation-form button {
    margin: 0 auto;
  }
  
  
/* media  */


  @media (max-width: 991px) {
    .side-title {
        padding-left: 0;
        padding-right: 0;
    }
  }
  
  @media screen and (min-width: 992px) {
  .p-fix {
      position: absolute;
      top: 1.5rem;
      width: 23%;
  }

  .p-rel {
      position: relative;
  }

    #hero h2 {
      color: lightgray;
      margin-left: -35%;
   }
  
   #hero h1 {
      color: #e74c3c;
      margin-left: -35%;
      margin-top: 5%;
   }
  
   #hero button {
      margin-left: -35%;
   }

   .form-content {
    width: 50%;
    }
  }


  @media (max-width: 568px) {
    #pro-detail {
        display: flex;
        flex-direction: column;
    }
  
    #pro-detail .single-pro-image {
        width: 100%;
        margin-left: 0 !important;
    }
  
    #pro-detail .single-pro-details {
        width: 100%;
        margin: 0 40px 0 20px;
    }
  
    .small-img-col {
      display: none;
    }
  }
  

@media screen and (max-width: 780px) {

  .home-text h6 {
    display: none;
  }
  
  .home {
    overflow-x: hidden;
    display: inline-block;
  }
}

@media screen and (max-width: 490px) {
  .home-img {
    width: 60%;
    overflow-x: hidden;
    margin: 0 auto;
  }
}

@media screen and (min-width: 790) {
  .home {
    height:fit-content;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
  }
}