{% extends "base.html" %}


{% block title %} Sign up{% endblock title %}
    
{% block content %}
<section id="register" class="bg-black-color">
    <div class="container ">
      <div class="row ">
        <div class="col-12  ">
          <form action="." method="post" class=" bg-black-color mb-5 p-2">
            {%  csrf_token %}

            <h2 class="text-warning text-center mt-5">Login</h2> <hr class="orange-color">
    
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              {{ form.username }}
            </div>
           
    
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              {{ form.password }}
            </div>
            
            
            {% if form.errors or form.non_field_errors %}
              <div class="form-control mb-2">
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}
              </div>
            {% endif %}
              

            <div class="d-grid gap-2">
              <button type="Submit" class="btn btn-custom-color w-50 m-auto m-4">Submit</button>
            </div>
    
          </form>
        </div>
      </div>
    </div>
   
  </section>






    
{% endblock content %}
    