 {% extends "base.html" %}
{% load static %}


{% block title %} Welcome{% endblock title %}
    
{% block content %}

    <!-- home section -->
    <section class="home bg-black-color px-5" id="home">
        <div class="home-text ">
            <h3 class="text-warning pt-3">Online Marketplace</h3>
            <h1 class="gray-color py-1"> <span class="orange-color">Buy </span> Online, <br><span class="orange-color"> Sell  </span> Online Afghan women's handicraft!</h1>
            <h6 class="lead gray-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vel cum doloremque natus veritatis corporis itaque necessitatibus ipsam!  </h6>
            <a href="{% url 'item:items' %}" class="btn btn-outline-warning btn-custom-color m-1 px-3">Shop Now</a>
        </div>
        <div class="home-img">
            <img src="https://res.cloudinary.com/dd5s8l3yh/image/upload/v1680313818/afghan_udxuke.png"
            alt="My image">

            <img src="image/afghan.png" alt="" class="img-fluid">
        </div>
    </section>
 
    <!-- items -->
    <section class="bg-black-color" id="feature">
        <div class="container-fluid">
            
            <div class="row">
                <h2 class="item-heading orange-color pb-1">New Products</h2>
                <hr class="orange-color pb-4">
            </div>
            <div class="row">
            {% for item in items %}

                <div class="col-md-4 col-sm-6 col-lg-3 mb-5">
                    <div class="product-box">
                        <div class="product-inner-box position-relative">
                            <a href="{% url 'item:detail' item.id %}">
                                <div class="product-img">
                                    <div class="product-img-slider">
                                        <img src="{{ item.image.url }}" alt="dress" class="img-fluid">
                                        <img src="{{ item.rear_image.url }}" alt="dress" class="img-fluid">
        
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-name mx-auto">
                                        <h3>{{ item.name }}</h3>
                                    </div>
                                    <div class="product-price">
                                        <span>$ {{ item.price }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <h2 class="item-heading orange-color pb-1">Categories</h2>
                <hr class="orange-color pb-4">
            </div>
            <div class="row">
                {% for category in categories %}
                <div class="col-md-4 col-lg-4 col-6">
                    <div class="card bg-cus-color text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-body  ">
                          <h4 class="card-title orange-color">{{ category.name }}</h4>
                          <h6 class="card-text">{{category.items.count}} items</h6>
                        </div>
                      </div>
                </div>
                {% endfor %}

            </div>
        </div>
    
    </section>

    <!-- newsletter -->
    <section id="newsletter" style="background-image: url('https://res.cloudinary.com/dd5s8l3yh/image/upload/v1680314688/bg3_qouh7q.jpg')" class="bg-black-color p-3">
        <div class="row">
            <div class="col-md-8 col-lg-8 ">
                <div class="newstext">
                    <h4 class="orange-color mx-2">Sign Up For Newsletter</h4>
                    <p class="gray-color mx-2">Get Email updates about our latest shop and <span class="light-orange">special offers. </span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 ">
                <div class="form">
                    <div class="input-group">
                        <input type="text" class="form-control text-bg-dark btn-custom-color bg-black-color  " placeholder="Your email address">
                        <button class="btn btn-custom-color" type="button" id="button-addon2">Button</button>
                      </div>
                  
                </div>
            </div>
        </div>
    </section>











    
{% endblock content %}
